.inputField {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.inputField label {
  font-size: 0.9rem;
  font-weight: 600;
}

.inputField input {
  padding: 0.8rem;
  border-radius: 8px;
  border: 1px solid #cbd5e1;
  font-size: 0.95rem;
  transition: 0.2s ease;
  background-color: transparent;
  color: #000;
}

.inputField input:focus {
  outline: none;
  border: none;
  box-shadow: 0 0 0 2px rgba(26, 115, 232, 0.2);
}

.inputField p {
  font-size: 0.75rem;
  color: red;
  font-weight: 500;
}

@media (max-width: 900px) {
  .inputField input {
    font-size: 0.9rem;
  }
}
