.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgb(109, 102, 102);
  padding: 0.6rem 2rem;
}

.search {
  display: flex;
  align-items: center;
  border: 1px solid gray;
  width: 40%;
}

.search input {
  flex: 1;
  padding: 0.4rem;
  background-color: transparent;
  border: none;
  color: #000;
}

.search input:focus {
  outline: none;
}

.search button {
  padding: 0.4rem;
  background-color: transparent;
  border: none;
  color: gray;
  font-size: 15px;
  cursor: pointer;
}

.profile {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.hamburger {
  display: none;
}

@media (max-width: 768px) {
  .header {
    grid-area: header;
  }

  .search {
    display: none;
  }
  .hamburger {
    display: block;
  }
}
