.progress {
  width: 100%;
  height: 0.5rem;
  border-radius: 0.5rem;
  appearance: none;
  background-color: #dbeafe;
}

.progress::-webkit-progress-bar {
  background-color: #dbeafe;
  border-radius: 0.5rem;
}

.progress::-webkit-progress-value {
  background-color: #2563eb;
  border-radius: 0.5rem;
}

.progress::-moz-progress-bar {
  background-color: #2563eb;
  border-radius: 0.5rem;
}
