@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins, sans-serif;
  overflow-x: hidden;
}

progress {
  -webkit-appearance: none;
  appearance: none;
}

progress::-webkit-progress-bar {
  @apply bg-gray-200 rounded-full;
}

progress::-webkit-progress-value {
  @apply bg-blue-600 rounded-full transition-all duration-300;
}

progress::-moz-progress-bar {
  @apply bg-blue-600 rounded-full transition-all duration-300;
}

html,
body,
#root {
  height: 100%;
}
